.left-al {
  text-align: left;
}

.dropdown-list {
  text-align: left;
  list-style: none;
  max-width: 17.5rem;
  flex-direction: column;
  border: 2px solid lightgrey;
  border-top: none;
  gap: 0.1rem;
}

.down-arrow {
  font-size: 2rem;
  font-weight: 600;
  color: #a8a8a8;
}

.placeholder-container {
  border: 2px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 16.9rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.active {
  background: var(--header);
}

.list-item {
  padding: 0.5rem;
}
.list-item:hover {
  background: var(--header);
}

.hide {
  display: none;
}

.dropdown-container {
  display: grid;
  grid-template-columns: 70% 10% auto;
  /* margin: 1rem;  */
  gap: 0.5rem;
}

.mar-lef {
  margin-left: 1rem;
}

.delete-container {
  background: aliceblue;
  border-radius: 0.3rem;
  color: #9a9a9a;
  max-height: 2.9rem;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  align-items: center;
}
